.container {
  margin-top: 20px;
}

.table {
  margin-top: 10px;
}

h2 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.table-striped {
  width: 100%;
  border-collapse: collapse;
}

.table-striped th,
.table-striped td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-striped th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
