<nav>
  <a
    routerLink="/"
    routerLinkActive="activo"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="/formulario" routerLinkActive="activo">Formulaio</a>
  <a routerLink="/informacion" routerLinkActive="activo">Información</a>
  <a routerLink="/registro-factura" routerLinkActive="activo"
    >Registro Factura</a
  >
  <a routerLink="/reporte-factura" routerLinkActive="activo">Reporte Factura</a>
  <a routerLink="/reporte-impuesto-renta" routerLinkActive="activo"
    >Reporte Impuesto Renta</a
  >
</nav>
